@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Beau+Rivage&family=Nunito&family=Roboto+Slab:wght@200&family=Ubuntu:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
:root {
  background-color: #212121;
  font-family: "Roboto Slab", sans-serif;
  color: wheat;
}
/* content*/
#content {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 14fr;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 0.2fr 0.2fr;
}

.main-picture {
  min-height: 200px;
  max-height: 800px;
  min-width: none;
  max-width: 100%;
  place-self: center;
}

/* header and content*/
.header {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
}
button {
  text-decoration: none;
  background-color: #212121;
  color: wheat;
  border: 2px solid wheat;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  place-self: center;
  transition: transform 100ms ease-in-out;
}

button:hover {
  transform: scale(1.02);
}

.logo {
  color: wheat;
  font-size: 5rem;
  padding-left: 10px;
  font-family: "Abril Fatface";
}

.information {
  font-size: 2rem;
  padding-left: 5px;
}

p {
  height: 100px;
}

.menu-book {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  grid-auto-rows: 3fr;
  place-content: center;
  gap: 2px;
  text-align: center;
}

.card {
  height: 300px;
  width: 600px;
  border: solid 2px wheat;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
  transition: transform 400ms ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  height: 150px;
  border: 1px solid wheat;
  border-radius: 50px;
}
